.experience-card {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Helvetica, sans-serif, sans-serif;
  margin-left: 10px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

.experience-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.company-logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: contain; /* Ensures the logo fits within the given dimensions */
  border-radius: 6px;
}

.experience-details {
  flex: 1;
}

.experience-date {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.experience-title {
  font-size: 20px;
  margin: 5px 0;
}

.experience-company {
  font-size: 18px;
  color: #555;
}