.reach-out-section {
    padding: 30px; /* Padding for the section */
    background-color: #333333; /* Background color */
    border-radius: 10px; /* Rounded corners */
    color: #FFFFFF; /* Text color */
    font-family: 'Helvetica', sans-serif; /* Set font to Helvetica */
    text-align: center; /* Center align text */
    padding-top: 100px;
}

.heading {
    font-size: 30px; /* Font size for the heading */
    color: #FFFFFF; /* Color for the heading */
    font-weight: bold; /* Bold font for the heading */
    
}

.description {
    margin: 10px 0; /* Space above and below the paragraph */
    font-size: 18px; /* Font size for the paragraph */
    padding: 10px;
}

.connect-buttons {
    margin-top: 15px; /* Space above the button */
    padding: 10px;
}

.connect-button {
    
    padding: 10px 20px; /* Padding for the button */
    background-color: #e6d7ff; /* Background color for the button */
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
    font-family: 'Helvetica', sans-serif; /* Set font to Helvetica */
    
}
